#footer {
    text-align: center;
    font-family: arial, helvetica, sans;
    font-size: 0.7em;
}

label.control-label {
    margin-right: 1em ;
}

.checkbox input[type="checkbox"] {
    margin-left: 0px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.title {
	display: block;
	font-size: 1.1em;
}

.title a, .title a:hover {
	color: black;
	text-decoration: none;
}

/* .title a:hover {
	color: black;
} */

.title a:visited {
	color: gray;
	text-decoration: none;
}

.links a, .links a:hover, .links a:visited {
	color: rgb(200, 200, 200);
	font-size: 0.7em;
}

.journal {
	display: block;
	color: gray;
	font-size: 0.9em;
}

.journal a, .journal a:visited {
	color: gray;
	text-decoration: none;
}

.journal a:hover {
	color: gray;
}

.authors {
	color: gray;
	display: block;
	font-size: 0.8em;
	line-height: 1.2em;
}

.listing {
	margin-bottom: 1em;
}

#pubgem a {
	color: black;
}

#active {
	color: black;
}

#navbar {
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

.here a, .here a:hover {
	color: black;
}

#subscription_list li {
	list-style-type: none;
	line-height: 2em !important;
}

#subscription_list a {
	color: black;
}

/**************
Media tweaks
*/

@media (min-width: 1001px) {
	body {
		padding: 0em 2em !important;
	}

	#content {
	    max-width: 1000px;
	    margin: 0px auto;
	}
}

@media (min-width: 481px) and (max-width: 1000px) {
	body {
		padding: 0em 0.5em !important;
	}

	#content {
	    max-width: 800px;
	    margin: 0px auto;
	}
}

@media (max-width: 480px) {
	body {
		padding: 0.5em !important;
	}

	#content {
	    max-width: 100%;
	    margin: 0px auto;
	}

	#navbar {
		margin-top: 0;
		margin-bottom: 0.5em ;
	}
}

