{% extends "base.html" %}

{% block title %}
PubGem
{% endblock %}

{% block htmlhead %}
<style type="text/css">
	.title {
		display: block;
		font-size: 1.2em;
	}

	.journal {
		display: block;
		font-size: 0.9em;
	}

	.authors {
		display: block;
		font-size: 0.8em;
	}

	.listing {
		margin-bottom: 1em;
	}

	#pubgem {
		color: blue;
	}

	#active {
		color: black;
	}

	#breadcrumbs {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
</style>
<link rel="stylesheet" href="{{ url_for('frontpage.static', filename='css/font-awesome.min.css') }}">
{% endblock %}

{% block main_menu %}
{% endblock %}

{% block content %}

<div id="breadcrumbs">
	<span id="pubgem"><a href="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i>pubgem</a></span>
	<span><i class="fa fa-newspaper-o" aria-hidden="true"></i>front page</span>
</div>


    {% for item in rss_entries %}
    <div class="listing">
    	<span class="title"><i class="fa fa-file-text-o" aria-hidden="true"></i> <a href="http://dx.doi.org/{{ item.doi }}">{{ item.title }}</a></span>
    	<span class="journal"><i class="fa fa-book" aria-hidden="true"></i> {{ item.rss_feed.name }} (<a href="{{ item.www }}">www</a>)</span>
    	<span class="authors">{{ item.authors }}</span>
    </div>
    {% endfor %}

{% endblock %}

{% block pagination %}
{% endblock %}

{% block tail %}
<i class="fa fa-question-circle-o" aria-hidden="true"></i>Help
About
Terms
{% endblock %}
