{% extends "frontpage/base.htm.j2" %}

{% block title %}
journal
{% endblock %}

{% block content %}

<div id="navbar">
	<div id="account" style="float: right">
		{# <span><a href=""><i class="fa fa-search" aria-hidden="true"></i> search</a></span> #}
		{% include "frontpage/_login.htm.j2" %}
	</div>

	<div id="breadcrumbs">
		<span id="pubgem">
			<a href="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i> pubgem</a>
		</span>
		<span class="here">
			<a href="/journal/{{ rss_feed.id }}"><i class="fa fa-book" aria-hidden="true"></i> {{ rss_feed.name }}</a>
		</span>
		{% if current_user.is_authenticated and current_user.name %}
			<span>
				<a class="btn btn-mini" href="/user/subscribe/{{ rss_feed.id }}"><i class="fa fa-plus-square-o" aria-hidden="true"></i> subscribe</a>
			</span>
		{% else %}
			<span>
				<a class="btn btn-mini" href="/user/login"><i class="fa fa-plus-square-o" aria-hidden="true"></i> subscribe</a>
			</span>
		{% endif %}
	</div>
</div>

    {% for item in rss_entries %}
    <div class="listing">
    	<span class="title">
    		<a href="http://dx.doi.org/{{ item.doi }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ item.title }}</a>
    		<span class="links">
	    		<a href="{{ item.www }}">www</a>
	    		<a href="http://dx.doi.org/{{ item.doi }}">doi</a>
	    	</span>
    	</span>
    	<span class="journal">
    		<i class="fa fa-book" aria-hidden="true"></i> {{ item.rss_feed.name }}
    	</span>
    	<span class="authors">{{ item.authors }}</span>
    </div>
    {% endfor %}

<div align="center">
{{ pagination.links }}
</div>

{% endblock %}
