{% extends "frontpage/base.htm.j2" %}

{% block title %}
subscriptions
{% endblock %}

{% block content %}

<div id="navbar">
	<div id="account" style="float: right">
		{# <span><a href=""><i class="fa fa-search" aria-hidden="true"></i> search</a></span> #}

		{% if current_user.is_authenticated and current_user.name %}
			<span><a class="btn btn-mini" href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a></span>
		{% else %}
			<span><a class="btn btn-mini" href="/user/login"><i class="fa fa-user" aria-hidden="true"></i> signup &amp; login</a></span>
		{% endif %}
	</div>

	<div id="breadcrumbs">
		<span id="pubgem">
			<a href="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i> pubgem</a>
		</span>
		<span class="here">
			<a href="/subscriptions"><i class="fa fa-folder-open-o" aria-hidden="true"></i> subscriptions</a>
		</span>
	</div>
</div>

<div id="subscription_list">
{% for journal in current_user.subscriptions %}
	<li>
		<a class="btn btn-mini" href="/user/unsubscribe/{{ journal.id }}">
			<i class="fa fa-minus-square-o" aria-hidden="true"></i> unsubscribe
		</a>
		<a href="/journal/{{ journal.id }}">{{ journal.name }}</a>
		</li>
{% endfor %}
</div>

{% endblock %}
